h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: skyblue;
    border-bottom: 2px solid black;
}

#instructions {
    border: 2px solid skyblue;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.display {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

#generator {
    background-color: antiquewhite;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

#gametracker {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 25px;
}

#totalhops {
    font-size: 20px;
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 450px 3px 450px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bunny {
    border: 1px solid black;
}

.column {
    float: left;
    width: 50%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}