/* Style the header */
h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: skyblue;
    border-bottom: 2px solid black;
    font-family: 'Fredoka One', cursive;
}

/* Style the font for the rest of the game page */
.game {
    font-family: 'Pontano Sans', sans-serif;
}

/* Style the instructions box */
#instructions {
    border: 2px solid skyblue;
    border-radius: 5px;
    text-align: center;
    margin: 2px 5px 2px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Style the box with the random number generator and the wins/losses amount */
.display {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}

/* Specific style for the random number generator */
#generator {
    background-color: antiquewhite;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

/* Specific style for the wins & losses */
#gametracker {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 25px;
}

/* Style the total hops div */
#totalhops {
    font-size: 20px;
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 450px 3px 450px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Style the images */
.bunny {
    border: 1px solid black;
}

/* Style the container containing the bunny images */
.bunnies {
    margin: auto;
    display: table;
}

/* Style the footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}